<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.elling.rent.dao.mapper.RentHouseMapper">
  <resultMap id="BaseResultMap" type="com.elling.rent.model.RentHouse">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="HOUSE_CODE" jdbcType="VARCHAR" property="houseCode" />
    <result column="HOUSE_NAME" jdbcType="VARCHAR" property="houseName" />
    <result column="GROUP_CODE" jdbcType="VARCHAR" property="groupCode" />
    <result column="HOUSE_ADDRESS" jdbcType="VARCHAR" property="houseAddress" />
    <result column="HOUSE_AREA" jdbcType="VARCHAR" property="houseArea" />
    <result column="HOUSE_PRICE" jdbcType="VARCHAR" property="housePrice" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="ORDER_NUM" jdbcType="BIGINT" property="orderNum" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="CREATE_TIME" jdbcType="VARCHAR" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="VARCHAR" property="updateTime" />
  </resultMap>
</mapper>