<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.elling.rent.dao.mapper.RentPersonMapper">
  <resultMap id="BaseResultMap" type="com.elling.rent.model.RentPerson">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="PERSON_CODE" jdbcType="VARCHAR" property="personCode" />
    <result column="PERSON_NAME" jdbcType="VARCHAR" property="personName" />
    <result column="IDENT_CARD" jdbcType="VARCHAR" property="identCard" />
    <result column="IDENT_ADDR" jdbcType="VARCHAR" property="identAddr" />
    <result column="TEL" jdbcType="VARCHAR" property="tel" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="EMERGENCY_PERSON" jdbcType="VARCHAR" property="emergencyPerson" />
    <result column="EMERGENCY_TEL" jdbcType="VARCHAR" property="emergencyTel" />
    <result column="GENDER" jdbcType="CHAR" property="gender" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="ORDER_NUM" jdbcType="BIGINT" property="orderNum" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="CREATE_TIME" jdbcType="VARCHAR" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="VARCHAR" property="updateTime" />
  </resultMap>
</mapper>